.dashboard {
  padding: 20px;
  height: 100vh;
  background-color: #f4f4f4; /* Light background color */
  color: #333; /* Dark text color */
  font-family: 'Poppins', sans-serif;
}

.charts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(20px); /* Add a blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.chart-card {
  background-color: #fff; /* White card background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

}

.chart-card h2 {
  margin-bottom: 10px;
}

canvas {
  width: 100%;
  height: 200px;
}

.light-mode {
  background-color: #fff; /* White background color */
  color: #333; /* Dark text color */
}

.light-mode .chart-card {
  background-color: #fff; /* White card background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.light-mode canvas {
  background-color: #fff; /* White canvas background color */
}