.appointment-scheduler {
  padding: 20px;
  backdrop-filter: blur(10px);
  background: linear-gradient(to right, #ced1d6, #dbdee716);
  font-family: Arial, sans-serif;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #1A8EFD; /* Previous blue color */
  margin-bottom: 20px;
}

.appointments-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.appointment-card {
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  flex: 0 0 calc(33.33% - 40px);
  max-width: calc(33.33% - 40px);
  box-sizing: border-box;
  background-color: #FFFFFF; /* Updated card color */
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #333;
  transition: transform 0.3s ease;
}

.appointment-card p {
  margin: 5px 0;
}

.appointment-card button {
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px ; /* Added space between buttons */
}

/* Responsive styles */
@media (max-width: 768px) {
  .appointment-card {
    flex: 0 0 calc(50% - 40px);
    max-width: calc(50% - 40px);
  }
}

@media (max-width: 576px) {
  .appointment-card {
    flex: 0 0 calc(100% - 40px);
    max-width: calc(100% - 40px);
  }
}

.appointment-card:hover {
  transform: scale(1.05);
}

.icon-container {
  float: right;
  color: #007bff;
}
