


.appointment-scheduler {
  padding: 20px;
  backdrop-filter: blur(10px);
  background-image: url('Login_dark.png');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  height: 100vh;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.appointments-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.appointment-card {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  flex: 0 0 calc(33.33% - 40px);
  max-width: calc(33.33% - 40px);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white; /* Set text color to white */
  /* Add transition for smooth scaling */
  transition: transform 0.3s ease;
}

.appointment-card p {
  margin: 5px 0;
}

.appointment-card button {
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: auto; /* Center the button horizontally and vertically */
}


/* Responsive styles */
@media (max-width: 768px) {
  .appointment-card {
      flex: 0 0 calc(50% - 40px);
      max-width: calc(50% - 40px);
  }
}

@media (max-width: 576px) {
  .appointment-card {
      flex: 0 0 calc(100% - 40px);
      max-width: calc(100% - 40px);
  }
}

.appointment-card:hover {
  /* Scale the card slightly on hover */
  transform: scale(1.05);
}
.icon-container {
  float: right;
  color: white;
}

